.ProseMirror-focused {
  outline: none;
}

.override-tiptap-editor-style{
  outline: none;
}

.override-tiptap-editor-style:focus-within{
  outline: 2px solid hsla(var(--bc) / 0.2) !important;
  outline-offset: 2px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: rgb(157, 163, 174);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
